<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include header.ejs %>

</head>

<body class="page-preloading" style="padding: 1%">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.ejs %>



<%- include footer.ejs %>
</body>

</html>
