<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include header.ejs %>

</head>

<body class="page-preloading" style="padding: 1%">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.ejs %>

<!-- section text -->
<section class="content-top-margin page-title bg-black">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
				<!-- page title -->
				<h1 class="white-text">Employee Management</h1>
				<!-- end page title -->
				<div class=" breadcrumb text-uppercase sm-no-margin-top wow fadeInUp xs-display-none" data-wow-duration="600ms">
					<!-- breadcrumb -->
					<ul>
						<li><a href="#" class="white-text">Home</a></li>
						<li class="white-text"><a href="#" class="white-text">HRM</a></li>
						<li class="white-text">Employee Management</li>
					</ul>
					<!-- end breadcrumb -->
				</div>
				<div class="separator-line margin-three bg-white no-margin-lr sm-margin-top-three sm-margin-bottom-three no-margin-bottom xs-display-none"></div>
			</div>

		</div>
	</div>
</section>


<%- include footer.ejs %>
</body>

</html>
