<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include header.ejs %>

</head>

<body class="page-preloading" style="padding: 1%">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.ejs %>
<!-- slider section -->
<section id="slider" style="padding: 80px 0;">
	<div id="owl-demo" class="owl-carousel owl-theme owl-half-slider dark-pagination">

		<div class="item owl-bg-img" style="background-image:url('images/slider-img13.jpg');">
			<div class="container position-relative">
				<div class="slider-typography text-left">
					<div class="slider-text-middle-main">
						<div class="slider-text-middle padding-left-right-px">
							<span class="owl-subtitle black-text margin-three no-margin-top xs-margin-bottom-six">We believe hard work</span>
							<span class="owl-title black-text">We believe in design, strategy and web technology</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- end slider section -->

<%- include footer.ejs %>
</body>

</html>
