<section id="new-project" class="new-project no-padding-top" style="background-color: #f8f7f7">
	<div class="container">
		<div class="row center-col text-center">
			<h3 style="padding-top: 35px; font-size: 20px;">We'd love to hear about your Business.</h3>
			<a href="#contact-us" class="btn highlight-button-black-border margin-four no-margin-bottom inner-link">Contact us</a>
		</div>
	</div>
</section>