<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<a class="logo-light" href="index.html">
					<img alt="" src="images/logo/logo2.png" class="logo" />
				</a>
				<a class="logo-dark" href="index.html">
					<img alt="" src="images/logo/logo2.png" class="logo" />
				</a>
			</div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="col-md-9 text-right">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="index.html" class="">Home</a>
						</li>
						<li class="dropdown panel">
							<a href="#collapse7" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Modules
								<span>
									<img style="height: 12px;" src="images/dropdorn.png">
								</span>
							</a>
							<ul id="collapse5" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
								<li class="mega-menu-column col-sm-3">
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Supply Chain Management</li>
										<li><a href="#">Lead management</a></li>
										<li><a href="#">Field staff management</a></li>
										<li><a href="#">Sales management</a></li>
										<li><a href="#">Work order processing</a></li>
										<li><a href="#">Customer management</a></li>
										<li><a href="#">Procurement</a></li>
										<li><a href="#">Supplier management</a></li>
										<li><a href="#">Raw material management </a></li>
										<li><a href="#">CWIP management</a></li>
										<li><a href="#">Product management</a></li>
										<li><a href="#">Warehouse management</a></li>
										<li><a href="#">Demand planning</a></li>
										<li><a href="#">Logistics</a></li>
									</ul>
									<!-- end sub menu item  -->

								</li>
								<li class="mega-menu-column col-sm-3">
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Human Resource Management</li>
										<li><a href="#">Employee management</a></li>
										<li><a href="#">Time tracking and attendance system</a></li>
										<li><a href="#">Holiday management</a></li>
										<li><a href="#">Leave, Toil, Overtime management</a></li>
										<li><a href="#">Scheduling and Rostering</a></li>
										<li><a href="#">Payroll processing</a></li>
									</ul>
									<!-- end sub menu item  -->
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Business Process Management</li>
										<li><a href="#">A</a></li>
										<li><a href="#">B</a></li>
										<li><a href="#">C</a></li>
									</ul>
									<!-- end sub menu item  -->

								</li>
								<li class="mega-menu-column col-sm-3">
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Financial Accounting</li>
										<li><a href="#">Journal</a></li>
										<li><a href="#">Ledger</a></li>
										<li><a href="#">Invoices</a></li>
										<li><a href="#">Vouchers</a></li>
										<li><a href="#">Bank reconciliation</a></li>
										<li><a href="#">LC management</a></li>
										<li><a href="#">Asset management</a></li>
										<li><a href="#">Balance sheet</a></li>
										<li><a href="#">Income statement</a></li>
										<li><a href="#">Owner's equity statement</a></li>
										<li><a href="#">Statement of cash flow</a></li>
									</ul>
									<!-- end sub menu item  -->

								</li>
								<li class="mega-menu-column col-sm-3">
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Manufacturing Process Management</li>
										<li><a href="#">Manage manufacturing departments</a></li>
										<li><a href="#">Manage machineries</a></li>
										<li><a href="#">Manage construction</a></li>
										<li><a href="#">Manage coloring</a></li>
										<li><a href="#">Manage assembling</a></li>
										<li><a href="#">Manage packaging</a></li>
										<li><a href="#">Manage byproducts, scraps, defects</a></li>
										<li><a href="#">Manage manufacturing target</a></li>
									</ul>
									<!-- end sub menu item  -->
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Android Application</li>
										<li><a href="#">Field staff tracker</a></li>
									</ul>
									<!-- end sub menu item  -->

								</li>
							</ul>
							<!-- end sub menu -->
						</li>
						<li>
							<a href="clients.html" class="inner-link">Our Clients</a>
						</li>
						<li>
							<a href="blog.html" class="inner-link">Blog</a>
						</li>
						<li>
							<a href="about.html" class="inner-link">About Us</a>
						</li>
						<li>
							<a href="contact.html" class="inner-link">Contact</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>