<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="">
	<%- include ../header.ejs %>

</head>

<body class="page-preloading" style="padding: 1%">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="../images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.ejs %>

<!-- section text -->
<section id="project-img" class="no-padding content-top-margin">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown" style="background-image:url('../images/bi/bimodule.jpg');">
				<div class="opacity-medium bg-dark-gray"></div>
				<div class="container">
					<div class="project-header-text">
						<span class="project-title white-text">Business Intelligence</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="our-services" class="our-services no-padding">
	<div class="col-md-6 bg-light-gray padding-five sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section">
		<div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
			<h1 class="text-transform-none title margin-ten no-margin-lr no-margin-top">Overview</h1>
			<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300"></div>
			<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300"></div>
		</div>
	</div>
	<div class="col-md-6 bg-gray-light padding-five no-padding-bottom sm-padding-bottom-six sm-display-table">
		<div class="col-lg-11 col-md-12 pull-left xs-no-padding">
			<h1 class="h1mp text-transform-none title margin-ten no-margin-lr no-margin-top">Business Advantages</h1>
			<ul>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">01.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Improves Sales and Negotiations</span>A business intelligence system can be a valuable asset to a company's sales force because it provides access to up-to-the-minute reports that identify sales trends, product improvements or additions, current customer preferences and unexplored markets.</div>
				</li>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">02.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Eliminates Waste</span>Since a companywide business intelligence system works as a single, unified whole, it can analyze transactions between subsidiaries and departments to identify areas of overlap or inefficiency.</div>
				</li>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">03.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Fact-Based Decisions</span>Once a company-wide business intelligence system is in place, management is able to see detailed, current data on all aspects of the business which helps management make fact-based decisions, such as which products to concentrate on and which ones to discontinue.</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<div class="clearfix"></div>

<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 col-sm-12">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">What Loence ERP "Business Intelligence" Module Provides</span>
			</div>
			<!-- end section title -->

		</div>
	</div>
</section>

<section class="no-padding-bottom">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 text-center">
				<span class="title-med text-uppercase font-weight-600 letter-spacing-3 black-text display-block">Adventure is Everywhere</span>
				<span class="text-med text-uppercase letter-spacing-2 display-block">Get out of your comfort zone</span>
			</div>
			<!-- end section title -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="row margin-five no-margin-bottom">
			<!-- adventure item -->
			<div>
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/bi/planning.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Planning</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/bi/forecasting.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Forecasting</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/bi/analytics.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Analytics</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/bi/reports.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Reports</figure></a>
				</div>
			</div>
		</div>
	</div>
</section>
<%- include ../footer.ejs %>
</body>

</html>
