<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../header.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="../images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.ejs %>

<!-- section text -->
<section class="content-top-margin page-title bg-black">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
				<!-- page title -->
				<h1 class="white-text">Demand Planning</h1>
				<!-- end page title -->
				<div class=" breadcrumb sm-no-margin-top wow fadeInUp xs-display-none" data-wow-duration="600ms">
					<!-- breadcrumb -->
					<ul>
						<li><a href="/index.html" class="white-text">Home</a></li>
						<li class="white-text"><a href="/supply-chain-management/index.html" class="white-text">SCM</a></li>
						<li class="white-text">Demand Planning</li>
					</ul>
					<!-- end breadcrumb -->
				</div>
				<div class="separator-line margin-three bg-white no-margin-lr sm-margin-top-three sm-margin-bottom-three no-margin-bottom xs-display-none"></div>
			</div>

		</div>
	</div>
</section>
<!-- content section -->
<section class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-10 text-large center-col text-center">
				<p class="no-margin-bottom wow fadeInUp">Enable sales teams to develop demand forecasts as input to service-planning processes, production, inventory planning and revenue planning.</p>
			</div>
		</div>
	</div>
</section>
<!-- end content section -->
<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-6 col-sm-6">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Functionalities</span>
			</div>
			<!-- end section title -->
			<!-- section highlight text -->
			<div class="col-md-6 col-sm-6 text-right xs-text-left">
			</div>
			<!-- end section highlight text -->
		</div>
	</div>
</section>
<section class="wow fadeIn no-padding-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 text-center margin-five no-margin-top wow fadeIn" data-wow-duration="300ms">
				<span class="parallax-number white-text letter-spacing-2 bg-black margin-five no-margin-top">01</span>
				<h6 class="black-text margin-two font-weight-600 letter-spacing-2 no-margin-top">Relation</h6>
				<p class="width-90 center-col"></p>
			</div>
			<div class="col-md-6 col-sm-6 text-center margin-five no-margin-top wow fadeIn" data-wow-duration="600ms">
				<span class="parallax-number white-text letter-spacing-2 bg-black margin-five no-margin-top">02</span>
				<h6 class="black-text margin-two font-weight-600 letter-spacing-2 no-margin-top">Organization</h6>
				<p class="width-90 center-col"></p>
			</div>
			<div class="col-md-6 col-sm-6 text-center margin-five no-margin-top wow fadeIn" data-wow-duration="900ms">
				<span class="parallax-number white-text letter-spacing-2 bg-black margin-five no-margin-top">03</span>
				<h6 class="black-text margin-two font-weight-600 letter-spacing-2 no-margin-top">Approach</h6>
				<p class="width-90 center-col"></p>
			</div>
			<div class="col-md-6 col-sm-6 text-center margin-five no-margin-top wow fadeIn" data-wow-duration="300ms">
				<span class="parallax-number white-text letter-spacing-2 bg-black margin-five no-margin-top">04</span>
				<h6 class="black-text margin-two font-weight-600 letter-spacing-2 no-margin-top">Abilities</h6>
				<p class="width-90 center-col"></p>
			</div>
			<div class="col-md-6 col-sm-6 text-center margin-five no-margin-top wow fadeIn" data-wow-duration="600ms">
				<span class="parallax-number white-text letter-spacing-2 bg-black margin-five no-margin-top">05</span>
				<h6 class="black-text margin-two font-weight-600 letter-spacing-2 no-margin-top">Believe</h6>
				<p class="width-90 center-col"></p>
			</div>
			<div class="col-md-6 col-sm-6 text-center margin-five no-margin-top wow fadeIn" data-wow-duration="900ms">
				<span class="parallax-number white-text letter-spacing-2 bg-black margin-five no-margin-top">06</span>
				<h6 class="black-text margin-two font-weight-600 letter-spacing-2 no-margin-top">Assessment</h6>
				<p class="width-90 center-col"></p>
			</div>
		</div>
		<div class="wide-separator-line bg-mid-gray no-margin-lr"></div>
	</div>
</section>

<%- include ../contactrequest.ejs %>

<%- include ../footer.ejs %>
</body>

</html>
