<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../header.ejs %>

</head>

<body class="page-preloading" style="padding: 1%">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="../images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.ejs %>

<!-- section text -->
<section id="project-img" class="no-padding content-top-margin">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown" style="background-image:url('../images/scm/scmmodule2.jpg');">
				<div class="opacity-medium bg-dark-gray"></div>
				<div class="container">
					<div class="project-header-text">
						<span class="project-title white-text">Supply Chain Management</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="our-services" class="our-services no-padding bcmodule">
	<div class="col-md-12">
	<div class="col-md-6 bg-light-gray padding-five sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section">
		<div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
			<h1 class="text-transform-none title margin-ten no-margin-lr no-margin-top">Overview</h1>
			<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300">Maximize the reliability and efficiency of distribution networks and manage end-to-end inventory in real time while minimizing total cost of storage costs and ownership.</div>
			<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300"></div>
		</div>
	</div>
	<div class="col-md-6 bg-gray-light padding-five no-padding-bottom sm-padding-bottom-six sm-display-table">
		<div class="col-lg-11 col-md-12 pull-left xs-no-padding">
			<h1 class="h1mp text-transform-none title margin-ten no-margin-lr no-margin-top">Business Advantages</h1>
			<ul>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">01.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Time Delay Decrease in Processes</span>Delays in supply chain management often results in poor relationships with stakeholders and loss of business. All modules of SCM can be flawlessly coordinated and executed from start to finish to make sure much higher levels of on-time delivery across the territory.</div>
				</li>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">02.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Boost Cooperation Level</span>Supply chain management gives opportunity to share information and gives you access to track what your supplier and distributers are doing all the time. Share information platform keep stakeholders informed, so the whole process of SCM runs smoothly. These collaborations accelerates other tasks like reporting, forecasts, order statuses, quotation and other transportations plans in real time.</div>
				</li>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">03.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Reduce Cost Effects</span>Supply chain management can lower down current overhead expense of your organization such as it improves inventory management system, eliminates damage resources by adjusting the storage space efficiently of finished goods and makes systems more responsive.</div>
				</li>
			</ul>
		</div>
	</div>
	</div>
	<div class="clearfix"></div>
</section>


<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 col-sm-12">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">What Loence ERP "SUPPLY CHAIN MANAGEMENT" Module Provides</span>
			</div>
			<!-- end section title -->

		</div>
	</div>
</section>

<section class="no-padding-bottom" style="padding-bottom: 30px !important;">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 text-center">
				<span class="title-med text-uppercase font-weight-600 letter-spacing-3 black-text display-block">Adventure is Everywhere</span>
			</div>
			<!-- end section title -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="row margin-five no-margin-bottom">
			<!-- adventure item -->
			<div>
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/lead-management.html"><img src="../images/scm/lead.jpg" alt=""/></a>
					<a href="/supply-chain-management/lead-management.html"><figure class="text-large letter-spacing-3 white-text">Lead management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/field-staff-managemant.html"><img src="../images/scm/field.jpg" alt=""/></a>
					<a href="/supply-chain-management/field-staff-managemant.html"><figure class="text-large letter-spacing-3 white-text">Field staff management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/sales-management.html"><img src="../images/scm/sales.jpg" alt=""/></a>
					<a href="/supply-chain-management/sales-management.html"><figure class="text-large letter-spacing-3 white-text">Sales management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/work-order-processing.html"><img src="../images/scm/workorder.jpg" alt=""/></a>
					<a href="/supply-chain-management/work-order-processing.html"><figure class="text-large letter-spacing-3 white-text">Work order processing</figure></a>
				</div>
			</div>
			<div class="clearfix"></div>
			<div>
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/customer-management.html"><img src="../images/scm/customer.jpg" alt=""/></a>
					<a href="/supply-chain-management/customer-management.html"><figure class="text-large letter-spacing-3 white-text">Customer management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/procurement.html"><img src="../images/scm/procurement.jpg" alt=""/></a>
					<a href="/supply-chain-management/procurement.html"><figure class="text-large letter-spacing-3 white-text">Procurement</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/supplier-management.html"><img src="../images/scm/supplier.jpg" alt=""/></a>
					<a href="/supply-chain-management/supplier-management.html"><figure class="text-large letter-spacing-3 white-text">Supplier management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/raw-material-management.html"><img src="../images/scm/raw.jpg" alt=""/></a>
					<a href="/supply-chain-management/raw-material-management.html"><figure class="text-large letter-spacing-3 white-text">Raw material management</figure></a>
				</div>
				<!-- end adventure item -->
			</div>
			<div class="clearfix"></div>
			<div>
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/cwip-management.html"><img src="../images/scm/construction.jpg" alt=""/></a>
					<a href="/supply-chain-management/cwip-management.html"><figure class="text-large letter-spacing-3 white-text">CWIP management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/product-management.html"><img src="../images/scm/product.jpg" alt=""/></a>
					<a href="/supply-chain-management/product-management.html"><figure class="text-large letter-spacing-3 white-text">Product management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/warehouse-management.html"><img src="../images/scm/warehouse.jpg" alt=""/></a>
					<a href="/supply-chain-management/warehouse-management.html"><figure class="text-large letter-spacing-3 white-text">Warehouse management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/supply-chain-management/demand-planning.html"><img src="../images/scm/planning.jpg" alt=""/></a>
					<a href="/supply-chain-management/demand-planning.html"><figure class="text-large letter-spacing-3 white-text">Demand planning</figure></a>
				</div>
				<!-- end adventure item -->
			</div>
			<div class="clearfix"></div>
			<!-- adventure item -->
			<div class=" col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
				<a href="/supply-chain-management/logistics.html"><img src="../images/scm/logistic.jpg" alt=""/></a>
				<a href="/supply-chain-management/logistics.html"><figure class="text-large letter-spacing-3 white-text">Logistics</figure></a>
			</div>
			<!-- end adventure item -->
		</div>
	</div>
</section>
<%- include ../contactrequest.ejs %>
<%- include ../footer.ejs %>
</body>

</html>
