<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="The  process  that  turns  raw  materials  and  parts  into  finished  good  is  managed
through  the  manufacturing  process  management  system. Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../header.ejs %>

</head>

<body class="page-preloading" style="padding: 1%">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="../images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.ejs %>

<!-- section text -->
<section id="project-img" class="no-padding content-top-margin">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown" style="background-image:url('../images/mpm/mpmmodule.jpg');">
				<div class="opacity-medium bg-dark-gray"></div>
				<div class="container">
					<div class="project-header-text">
						<span class="project-title white-text">Manufacturing Process Management</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="our-services" class="our-services no-padding bcmodule">
	<div class="col-md-12 no-padding">
		<div class="col-md-5 bg-light-gray padding-five sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section">
			<div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
				<h1 class="text-transform-none title margin-ten no-margin-lr no-margin-top">Overview</h1>
				<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300">Manage and oversee various aspects of employment, administration of employee benefits, and some aspects of recruitment and dismissal.</div>
				<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300">Manage wages and salaries evaluating performance, train and plan personnel needs, communicate with all employees at all levels making employees more developed and valuable to the organization.</div>
			</div>
		</div>
		<div class="col-md-7 bg-gray-light padding-five no-padding-bottom sm-padding-bottom-six sm-display-table">
			<div class="col-lg-11 col-md-12 pull-left xs-no-padding">
				<h1 class="h1mp text-transform-none title margin-ten no-margin-lr no-margin-top">Business Advantages</h1>
				<ul>
					<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
						<div class="number">01.</div>
						<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Improved Efficiency</span>Since historical manufacturing data is available in one place, it is easier to make decision about taking orders from customers and processing delivery since you can estimate how much product your company can manufacture over a time.</div>
					</li>
					<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
						<div class="number">02.</div>
						<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Reduced Scrap Materials</span>Scrap caused during a production run is commonly the result of operator error resulting in incorrect calculation. This can be easily avoided by automated manufacturing process.</div>
					</li>
					<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
						<div class="number">03.</div>
						<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Faster Production</span>The production capacity of machines is supervised all the time and the production speed is increased through the use of digital simulation, reuse of standardized products designs and creative production plans.</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</section>


<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 col-sm-12">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">What Loence ERP "Manufacturing Process Management" Module Provides</span>
			</div>
			<!-- end section title -->

		</div>
	</div>
</section>

<section class="no-padding-bottom">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 text-center">
				<span class="title-med text-uppercase font-weight-600 letter-spacing-3 black-text display-block">Adventure is Everywhere</span>
				<span class="text-med text-uppercase letter-spacing-2 display-block">Get out of your comfort zone</span>
			</div>
			<!-- end section title -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="row margin-five no-margin-bottom">
			<!-- adventure item -->
			<div>
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/manufacturing-process-management/manage-manufacturing-departments.html"><img src="../images/mpm/departments.jpg" alt=""/></a>
					<a href="/manufacturing-process-management/manage-manufacturing-departments.html"><figure class="text-large letter-spacing-3 white-text">Manage manufacturing departments</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/manufacturing-process-management/manage-machineries.html"><img src="../images/mpm/machineries.jpg" alt=""/></a>
					<a href="/manufacturing-process-management/manage-construction.html"><figure class="text-large letter-spacing-3 white-text">Manage machineries</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/manufacturing-process-management/manage-construction.html"><img src="../images/mpm/cop.jpg" alt=""/></a>
					<a href="/manufacturing-process-management/manage-construction.html"><figure class="text-large letter-spacing-3 white-text">Manage construction</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/manufacturing-process-management/manage-coloring.html"><img src="../images/mpm/coloring.jpg" alt=""/></a>
					<a href="/manufacturing-process-management/manage-coloring.html"><figure class="text-large letter-spacing-3 white-text">Manage coloring</figure></a>
				</div>
			</div>
			<div class="clearfix"></div>
			<div>
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/manufacturing-process-management/manage-assembling.html"><img src="../images/mpm/assembling.jpg" alt=""/></a>
					<a href="/manufacturing-process-management/manage-assembling.html"><figure class="text-large letter-spacing-3 white-text">Manage assembling</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/manufacturing-process-management/manage-packaging.html"><img src="../images/mpm/logistic.jpg" alt=""/></a>
					<a href="/manufacturing-process-management/manage-packaging.html"><figure class="text-large letter-spacing-3 white-text">Manage packaging</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/manufacturing-process-management/manage-byproducts-scraps-defects.html"><img src="../images/mpm/scrap.jpg" alt=""/></a>
					<a href="/manufacturing-process-management/manage-byproducts-scraps-defects.html"><figure class="text-large letter-spacing-3 white-text">Manage byproducts, scraps, defects</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="/manufacturing-process-management/manage-manufacturing-target.html"><img src="../images/mpm/target.jpg" alt=""/></a>
					<a href="/manufacturing-process-management/manage-manufacturing-target.html"><figure class="text-large letter-spacing-3 white-text">Manage manufacturing target</figure></a>
				</div>
				<!-- end adventure item -->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<%- include ../footer.ejs %>
</body>

</html>
