<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../header.ejs %>

</head>

<body class="page-preloading" style="padding: 1%">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="../images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.ejs %>

<!-- section text -->
<section id="project-img" class="no-padding content-top-margin">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown" style="background-image:url('../images/fa/famodule.jpg');">
				<div class="opacity-medium bg-dark-gray"></div>
				<div class="container">
					<div class="project-header-text">
						<span class="project-title white-text">Financial Accounting</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="our-services" class="our-services no-padding">
	<div class="col-md-6 bg-light-gray padding-five sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section">
		<div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
			<h1 class="text-transform-none title margin-ten no-margin-lr no-margin-top">Overview</h1>
			<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300">Record financial transactions systematically and comprehensively and summarize, analyze and report these transactions to oversight agencies, regulators and tax collection entities.</div>
			<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300">Accounting communicates so much of the information that owners, managers, and investors need to evaluate a company’s financial performance. In fact, the purpose of accounting is to help stakeholders make better business decisions by providing them with financial information.</div>
		</div>
	</div>
	<div class="col-md-6 bg-gray-light padding-five no-padding-bottom sm-padding-bottom-six sm-display-table">
		<div class="col-lg-11 col-md-12 pull-left xs-no-padding">
			<h1 class="h1mp text-transform-none title margin-ten no-margin-lr no-margin-top">Business Advantages</h1>
			<ul>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">01.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Managing Employees</span>Human  Resource  Management  system  helps  organizations  to  manage  their
						people to achieve business objectives and maintain employee satisfaction.</div>
				</li>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">02.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Managing Employees</span>Human  Resource  Management  system  helps  organizations  to  manage  their
						people to achieve business objectives and maintain employee satisfaction.</div>
				</li>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">03.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Managing Employees</span>Human  Resource  Management  system  helps  organizations  to  manage  their
						people to achieve business objectives and maintain employee satisfaction.</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<div class="clearfix"></div>

<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 col-sm-12">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">What Loence ERP "Financial Accounting" Module Provides</span>
			</div>
			<!-- end section title -->

		</div>
	</div>
</section>

<section class="no-padding-bottom">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 text-center">
				<span class="title-med text-uppercase font-weight-600 letter-spacing-3 black-text display-block">Adventure is Everywhere</span>
				<span class="text-med text-uppercase letter-spacing-2 display-block">Get out of your comfort zone</span>
			</div>
			<!-- end section title -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="row margin-five no-margin-bottom">
			<!-- adventure item -->
			<div>
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/journal.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Journal</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/ledger.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Ledger</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/invoice.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Invoices</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/receipt.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Vouchers</figure></a>
				</div>
			</div>
			<div class="clearfix"></div>
			<div>
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/bank.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Bank reconciliation</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/lc.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">LC management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/asset.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Asset management</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/balance.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Balance sheet</figure></a>
				</div>
				<!-- end adventure item -->
			</div>
			<div class="clearfix"></div>
			<div>
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/income.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Income statement</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/equity.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Owner's equity statement</figure></a>
				</div>
				<!-- end adventure item -->
				<!-- adventure item -->
				<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
					<a href="#"><img src="../images/fa/cash.jpg" alt=""/></a>
					<a href="#"><figure class="text-large letter-spacing-3 white-text">Statement of cash flow</figure></a>
				</div>
				<!-- end adventure item -->
			</div>
		</div>
	</div>
</section>
<%- include ../footer.ejs %>
</body>

</html>
